<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMPLE AI UI</title>
    <link rel="shortcut icon" href="/static/logo/favicon.ico" type="image/x-icon">
    link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="app-container">
        <header>
            <img src="/static/logo/icon.png" alt="Icon of Simple AI UI" width="100px">
            <h1>SIMPLE AI UI</h1>
            <button id="theme-toggle" aria-label="Toggle dark mode" onclick="darkThemeToggle()">🌙</button>
        </header>

        <h1>Opps! Something went wrong!</h1>
        <div class="error-div">
            <p class="error-text">{{error}}</p>
        </div>
        <script src="/static/theme-toggle.js"></script>
</body>

</html>