<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMPLE AI UI</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="app-container">
        <header>
            <h1>SIMPLE AI UI</h1>
            <button id="theme-toggle" aria-label="Toggle dark mode" onclick="darkThemeToggle()">
                <img src="/static/svgs/light-mode.svg" alt="Toggle Theme" width="24" height="24" />
            </button>
        </header>

        <div id="main">
            <!-- Info Section -->
            <div class="info-section">
                <div class="info-box" id="connectionsInfo" aria-live="polite">
                    <h3>CONNECTION INFO</h3>
                    <p>Host: <span class="loading">loading...</span></p>
                    <p>Port: <span class="loading">loading...</span></p>
                    <p>Status: <span class="loading">loading...</span></p>
                </div>
                <div class="info-box" id="print_models" aria-live="polite">
                    <h3>RUNNING MODELS</h3>
                    <p class="loading">loading...</p>
                </div>
                <div class="info-box" id="print_active_models" aria-live="polite">
                    <h3>AVAILABLE MODELS</h3>
                    <p class="loading">loading...</p>
                </div>
            </div>

            <!-- Input Section -->
            <div class="input-section">
                <div class="input-box">
                    <textarea id="prompt" placeholder="Enter your prompt here..."
                        aria-label="Enter your prompt"></textarea>
                    <label for="model-picker">SELECT MODEL</label>
                    <select name="Models" id="model-picker" class="model-picker">
                        <option>Loading...</option>
                    </select>
                    <button onclick="sendMessage()" id="prompt-btn">GO</button>
                </div>
            </div>

            <!-- Response Section -->
            <div class="response-container" id="response-container" style="display: none;">
                <div class="response-card">
                    <button class="copy-button" onclick="copyToClipboard('response')">Copy Response</button>
                    <div id="response-text">LOADING...</div>
                    <pre>
                        <code id="response-code">Your code snippet here.</code>
                        <button class="code-copy-button" onclick="copyToClipboard('code')">Copy Code</button>
                    </pre>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/static/theme-toggle.js"></script>
    <script src="/static/app.js"></script>
</body>

</html>