<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMPLE AI UI</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="app-container">
        <header>
            <h1>SIMPLE AI UI</h1>
            <button id="theme-toggle" aria-label="Toggle dark mode" onclick="darkThemeToggle()">🌙</button>
        </header>

        <h1>LOGIN</h1>
        <form action="{{url}}" method="post">
            <input type="text" name="username" id="username" placeholder="Username"/>
            <input type="password" name="password" id="password" placeholder="Password" />
            <input type="submit" value="submit"/>
        </form>
        <script src="/static/theme-toggle.js"></script>
</body>

</html>